alias lg='lazygit'
alias tmntr_proj='cd ~/.config/tmuxinator'

alias recurPull='~/Git/scripts//Git/gitRecurPull.sh'
alias recurClean='~/Git/scripts/Git/gitCleanUp.sh'
alias recurSign='~/Git/scripts/Git/gitSign.sh'

alias photoEncrypt='~/Git/scripts/GPG/photoEncrypt.sh'
alias photoDecrypt='~/Git/scripts/GPG/photoDecrypt.sh'

alias topkek='top'

alias v='vim'
alias sv='sudo vim'
