[Desktop Entry]
Name=Flux Applet
Comment=Better lighting for your computer
Terminal=false
Icon=fluxgui
Exec=fluxgui
Type=Application
Categories=Utility;

